
                    <!-- Right column: content -->
                    <div class="tm-right-column">
                           

                      <div class="tm-content-div">
                              <div style="width:100%; margin-top:20px" class="uk-card uk-card-default uk-card-body uk-width-1-2@m card">
                                  
                                                            <!-- Contact Us section -->
                          <section id="contact" class="tm-section connecter">
                              <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30 connection">Inscription</h2></header>

                              <div class="row">
                                  <div class="col-lg-6 connexion">
                                      <form action="#contact" method="post" class="contact-form">
                                         
                                        
                                        <div class="form-group">
                                          <input type="text" id="contact_nam" [(ngModel)]="user.nom" name="contact_name" class="form-control" placeholder="Nom"  required/>
                                      </div>
                                      <div class="form-group">
                                        <input type="text" id="contact_na" [(ngModel)]="user.prenom" name="contact_na" class="form-control" placeholder="Prenom"  required/>
                                    </div>


                                    <div class="form-group">
                                      <input type="email" id="contact_email" [(ngModel)]="user.email" name="contact_email" class="form-control" placeholder="Email"  required/>
                                  </div>
                                        <div class="form-group">
                                              <input type="text" id="contact_name" [(ngModel)]="user.dateNaissance" name="contacter" class="form-control" placeholder="Date de naissance"  required/>
                                          </div>
                                          <div class="form-group">
                                            <input type="text" id="contact_nae" [(ngModel)]="user.adresse" name="contact_nam" class="form-control" placeholder="Adresse"  required/>
                                        </div>
                                       
                                          <div class="form-group">
                                              <input type="password" id="contact_ema" [(ngModel)]="user.password"  class="form-control" placeholder="Mot de Passe" name="password"  required/>
                                          </div>

                                          <div class="uk-margin">
                                            <select [(ngModel)]="user.typeUser" name="typeuser" class="uk-select">
                                                <option>CANDIDAT</option>
                                                <option>RECRUTEUR</option>
                                            </select>
                                        </div>
                                                                                 
                                          <button type="submit" (click)="createUser(user)" class="float-right tm-button button">S'inscrire</button>
                                          
                                          

                                         

                                          

                                             <div *ngIf="retour === true" class="uk-alert-primary" uk-alert>
                                              <a class="uk-alert-close" uk-close></a>
                                              <p>
                                               {{ notify }}
                                                
                                              </p>
                                              </div>

                                              <div *ngIf="retour === false" class="uk-alert-primary" uk-alert>
                                                <a class="uk-alert-close" uk-close></a>
                                                <p>
                                                 {{ notify }}
                                                  
                                                </p>
                                                </div>
                                        
                                      
                                         
                                     
                                        </form> 
                                        
                                     <a routerLink="/login" style="margin-left:12px;margin-top:20px"> Se connecter </a>
                                        
                                  </div>
                                  
                             
                              </div>
                              
                          </section>
                                    
                                  </div>   
                                  
                         
                      </div>  
                      
                  </div> 