<div class="container">
    <div class="row">
        <div class="tm-left-right-container">
            <!-- Left column: logo and menu -->
            <div class="tm-blue-bg tm-left-column">                        
                <div class="tm-logo-div text-xs-center">
                    <img src="assets/img/tm-neaty-logo.png" alt="Logo">
                    <h1 class="tm-site-name">GesJob</h1>
                </div>
                <nav class="tm-main-nav">  
                    <ul class="tm-main-nav-ul">
                        <li class="tm-nav-item">
                            <a routerLink="home" class="tm-nav-item-link">Bienvenue</a>
                        </li>
                        <li class="tm-nav-item">
                            <a routerLink="offres"  class="tm-nav-item-link">Offres d'emploi</a>
                        </li>
                      
                        <li class="tm-nav-item">
                            <a routerLink="connexion" class="tm-nav-item-link">Connexion</a>
                        </li>
                    </ul>


                </nav>

               
                <footer>
                        <p class="tm-copyright-p">Copyright &copy; <span class="tm-current-year">2018</span> GesJob 
                        
                        | Designed by Numéricart</p>
                    </footer>                             
            
            </div> <!-- Left column: logo and menu -->
           